body {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-style: inherit;
    color: black;
}

.flexible-container {
    padding: 10%;
    background-image: url(images/donation9.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    opacity: 0.9;
}

.center {
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(224, 65, 65), rgb(224, 65, 65));
    padding: 10px 40px;
    color: rgb(248, 248, 248);
    font-weight: 700;
    border-radius: 5px;
}

.donate {
    padding: 10%;
    font-weight: 1000;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
}

li {
    float: left;
    padding-left: 10%;
    margin-left: 10px;

}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(224, 65, 65);
    background-size: cover;
}

input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
}

input:focus {
    background-color: lightblue;
}

.donate-plan {
    padding: 10%;
    font-weight: 1000;
    font-size: 25px;
    color: black;
}